<!-- Displays the banner with the information relative to the active selected task -->
<div *ngIf="activeTask">
  <mat-card>
    <mat-card-header class="active-title">
      <mat-card-title>
        Current active task:
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h1>{{ activeTask?.reference }} - {{ activeTask?.title }}</h1>
      <p>{{activeTask?.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="deactivateTask()">Close Task</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- Default message if no task is active -->
<div *ngIf="!activeTask">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>You're done for now!</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Please select any remaining task to start working on them.</p>
    </mat-card-content>
  </mat-card>
</div>
