<h2 class="settings-title">Settings</h2>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center" class="settings-container">
  <!-- Settings for counting type -->
  <mat-card class="settings-card" id="counting-type">
    <mat-card-header>
      <mat-card-title>Counting Type</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group (change)="changeCountingType($event)">
        <mat-radio-button value="stopwatch" checked="{{ settings.countingType === 'stopwatch' }}">Stopwatch
        </mat-radio-button>
        <mat-radio-button value="countdown" checked="{{ settings.countingType === 'countdown' }}">Countdown
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <!-- Settings for timer type -->
  <mat-card class="settings-card" id="timer-type">
    <mat-card-header>
      <mat-card-title>Timer Type</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group (change)="changeCountingAmount($event)">
        <mat-radio-button value="pomodoro" checked="{{ settings.timerType === 'pomodoro' }}">Pomodoro Clock
        </mat-radio-button>
        <mat-radio-button value="standard" checked="{{ settings.timerType === 'standard' }}">Standard (60 min.)
        </mat-radio-button>
        <mat-radio-button value="custom" checked="{{ settings.timerType === 'custom' }}">{{
          settings.countingType === 'stopwatch' ? 'Infinite' : 'Custom'
        }}</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
  </mat-card>
  <!-- Settings for Data Storage (NYI) -->
  <mat-card class="settings-card" id="data-storage">
    <mat-card-header>
      <mat-card-title>Data Storage</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group (change)="changeSaveLocation($event)" disabled>
        <mat-radio-button value="localstorage">Local Storage</mat-radio-button>
        <mat-radio-button value="firebase" checked>Heroku API + MongoDB</mat-radio-button>
        <mat-radio-button value="other">Other
          <span class="radio-hint" role="doc-example">(provide connection string)</span>
        </mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <!-- Import / Export section (NYI) -->
    <mat-card-actions>
      <div id="clear-data-btn">
        <button mat-stroked-button color="primary" disabled>Import</button>
        <button mat-stroked-button color="primary" disabled>Export</button>
        <button mat-stroked-button color="warn" disabled>Clear Data</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
