.new-task-section {
  margin: 10px;
}

.add-task-form-group {
  width: 100%;
  // width: 100% !important;

  .add-task-element {
    width: 100%;
  }
}

.add-button-wrapper {
  height: 0;
  width: 100%;
  position: absolute;
  text-align: right;

  #launch-add-task-btn {
    position: relative;
    top: -4.5rem;
    text-align: right;
    margin: 1rem;
    text-align: center;
  }
}
