<h3>Task Manager [ph]</h3>
<div id="launch-add-task-btn">
  <button type="button" class="btn btn-default" (click)="formVisible = !formVisible">
    <fa-icon [icon]="formVisible ? faMinus : faPlus"></fa-icon>
  </button>
</div>
<div class="container">
  <!-- <div class="container" *ngIf="formVisible"> -->
  <h1>New Task</h1>
  <form #taskForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="add-task-form-group">
      <button
        mat-button
        id="btn-add-mat"
        type="button"
        color="primary"
        (click)="newTask(); taskForm.reset()"
        [disabled]="!taskForm.form.valid"
      >
        ADD
      </button>
    </div>
    <div class="add-task-form-group">
      <mat-form-field class="" id="form-title-mat">
        <!-- <label for="title">Title</label> -->
        <input
          matInput
          type="text"
          class="form-control"
          id="title"
          required
          #title="ngModel"
          [(ngModel)]="task.title"
          name="title"
          placeholder="Title"
        />
      </mat-form-field>
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required
    </div>

    <div class="add-task-form-group">
      <!-- <label for="reference">Reference</label> -->
      <mat-form-field class="add-task-form-element" id="form-ref-mat">
        <input
          matInput
          type="text"
          class="form-control"
          id="reference"
          #reference="ngModel"
          [(ngModel)]="task.reference"
          name="reference"
          required
          placeholder="Reference"
        />
      </mat-form-field>
    </div>
    <div [hidden]="reference.valid || reference.pristine" class="alert alert-danger">
      Reference is required
    </div>
    <div class="add-task-form-group">
      <mat-form-field class="example-full-width" id="form-desc-mat">
        <!-- <label for="desc">Description</label>
         -->
        <input
          matInput
          type="text"
          class="form-control"
          id="desc"
          [(ngModel)]="task.description"
          #description="ngModel"
          name="description"
          placeholder="Description"
        />
      </mat-form-field>
    </div>
  </form>
</div>
