<h1>Task Manager</h1>
<div class="container">
  <h1>New Task</h1>
  <form #taskForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        required
        #title="ngModel"
        [(ngModel)]="task.title"
        name="title"
      />
    </div>
    <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
      Title is required
    </div>

    <div class="form-group">
      <label for="desc">Description</label>
      <input
        type="text"
        class="form-control"
        id="desc"
        [(ngModel)]="task.description"
        #description="ngModel"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="reference">Reference</label>
      <input
        type="text"
        class="form-control"
        id="reference"
        #reference="ngModel"
        [(ngModel)]="task.reference"
        name="reference"
        required
      />
    </div>
    <div [hidden]="reference.valid || reference.pristine" class="alert alert-danger">
      Reference is required
    </div>

    <button
      type="button"
      class="btn btn-default"
      (click)="newTask(); taskForm.reset()"
      [disabled]="!taskForm.form.valid"
    >
      Add Task
    </button>
  </form>
</div>
<app-task-list></app-task-list>
