// .ng-valid[required],
// .ng-valid.required {
//   border-left: 5px solid #42a948; /* green */
// }

// .ng-invalid:not(form) {
//   border-left: 5px solid #a94442; /* red */
// }
.add-task-form-group {
  padding: 2px;
  display: inline;
}

#btn-add-mat {
  width: 5%;
}

#form-desc-mat {
  width: 40%;
}

#form-ref-mat {
  width: 12%;
}

#form-title-mat {
  width: 30%;
}
