<div>
  <h1 id="timerDisplay">{{ time }}</h1>
  <div>
    <button #start [disabled]="timerStatus === 'running'" [hidden]="timerStatus === 'running'">
      {{ timerStatus === 'paused' ? 'Restart' : 'Start' }}
    </button>
    <button #stop [disabled]="timerStatus !== 'running'" [hidden]="timerStatus === 'stopped'">
      Stop
    </button>
    <button #pause [disabled]="timerStatus !== 'running'">Pause</button>
    <button #resume [disabled]="timerStatus !== 'paused'">Resume</button>
  </div>
</div>
