.timer-btn {
  margin: 2px;
  padding: 0;
}

.add-time-btn {
  margin: 8px 0;
}

#timerDisplay {
  font-family: "digital-clock-font", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
