<div class="timer-container">
  <div id="timerDisplay" role="timer">{{ time }}</div>
  <div *ngIf="isAddTimeButtonAvailable">
    <button class="add-time-btn" mat-raised-button color="primary" (click)="addTimeToTask()">Add Time to Task</button>
  </div>
  <div>
    <button class="timer-btn" mat-raised-button color="primary" #start [disabled]="timerStatus === 'running'"
      [hidden]="timerStatus === 'running'">
      {{ timerStatus === 'paused' ? 'Restart' : 'Start' }}
    </button>
    <button class="timer-btn" mat-raised-button color="warn" #stop
      [disabled]="timerStatus !== 'running' && timerStatus !== 'paused'" [hidden]="timerStatus === 'stopped'">
      Stop
    </button>
    <button class="timer-btn" mat-raised-button color="secondary" #pause [disabled]="timerStatus !== 'running'">
      Pause
    </button>
    <button class="timer-btn" mat-raised-button color="secondary" #resume [disabled]="timerStatus !== 'paused'">
      Resume
    </button>
  </div>
</div>
