<div>
  <h3>{{ task.title }}</h3>
  <pre>{{ task.reference }}</pre>
  <p>{{ task.description }}</p>
  <div class="form-group">
    <label for="status">Task Status</label>
    <select class="form-control" id="status" required (change)="onSelectStatus($event)">
      <option
        *ngFor="let status of statusType"
        [ngValue]="status"
        [selected]="task.status === status"
        >{{ status }}</option
      >
    </select>
    <button class="form-control" id="adv-status" (click)="advanceStatus()">> > ></button>
  </div>
  <div class="time-list">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Time Column -->
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef>Total Time</th>
          <td mat-cell *matCellDef="let element">{{ element.amount | time }}s.</td>
          <td mat-footer-cell *matFooterCellDef>{{ getTotalTime() | time }}s.</td>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="timestamp">
          <th mat-header-cell *matHeaderCellDef>Date Recorded</th>
          <td mat-cell *matCellDef="let element">
            {{ element.timestamp | date: 'dd-MMM-yyyy  HH:mm' }}h.
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  {{ task | json }}
</div>
