<div>
  <div class="task-bar" id="task-bar-{{ task.id }}" gdAreas="tAction tStatus tDelete tRef tTitle tMore" gdGap="16px"
    gdColumns="30px 30px 30px auto auto 30px" gdRows="40px">
    <!-- Actions for the task -->
    <div id="task-action-icons" class="grid-element" gdArea="tAction">
      <button mat-icon-button aria-label="Select current task as active" (click)="setAsActiveTask()"
        *ngIf="!isCurrentActiveTask()" matTooltip="Add task as active">
        <fa-icon [icon]="faDoubleUp"></fa-icon>
      </button>
    </div>
    <!-- Status of the task -->
    <div id="task-actual-status" class="grid-element" gdArea="tStatus">
      <button *ngIf="task.status === 'Todo'" mat-icon-button aria-label="Mark task as in progress"
        (click)="setTaskStatusTo('InProgress')" matTooltip="Start Task">
        <fa-icon [icon]="faPlayCircle">
        </fa-icon>
      </button>
      <button *ngIf="task.status === 'InProgress'" mat-icon-button aria-label="Mark task as completed"
        (click)="setTaskStatusTo('Done')" matTooltip="Mark as Done">
        <fa-icon [icon]="faSquare"></fa-icon>
      </button>
      <fa-icon *ngIf="task.status === 'Done'" mat-icon-button class="grid-centered"
        aria-label="Task is flagged as Completed or Done" matTooltip="Done" [icon]="faCheckSquare"></fa-icon>
      <fa-icon [icon]="faLock" *ngIf="task.status === 'Archived'" mat-icon-button class="grid-centered"
        aria-label="Task is marked as archived" matTooltip="Archived"></fa-icon>
    </div>
    <!-- Delete / Archive task -->
    <div id="task-delete-archive" class="grid-element" gdArea="tDelete">
      <button *ngIf="task.status === 'Done'" mat-icon-button aria-label="Mark a task as archived"
        (click)="setTaskStatusTo('Archived')" matTooltip="Archive Task">
        <fa-icon [icon]="faLockOpen"></fa-icon>
      </button>
      <button *ngIf="task.status !== 'Done' && task.status !== 'Archived'" mat-icon-button aria-label="Delete a task"
        (click)="deleteTask()" matTooltip="Delete">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </div>
    <!-- Task name, reference and description -->
    <div class="task-ref fixed-sized-font grid-element grid-centered" gdArea="tRef">{{ task.reference }}</div>
    <div id="title-bar" class="grid-element grid-centered" gdArea="tTitle"
      matTooltip="{{ task.description?.length >= 50 ? task.description.substring(0, 50) + '...' : task.description }}">
      <div class="task-title bold ">{{ task.title }}</div>
    </div>
    <div class="task-expand-details-btn grid-element" gdArea="tMore">
      <button mat-icon-button aria-label="Show more details for the task" class="form-control" id="show-time-details"
        (click)="expanded = !expanded">
        <fa-icon [icon]="faDotsV" matTooltip="View time details"></fa-icon>
      </button>

    </div>
  </div>

  <!-- Manually updates the task status and display the times associated with the task -->
  <div>
    <div class="form-group" *ngIf="expanded">
      <label for="status">Task Status</label>
      <select class="form-control" id="status" required (change)="onSelectStatus($event)">
        <option *ngFor="let status of statusType" [ngValue]="status" [selected]="task.status === status">{{
          status
        }}</option>
      </select>
      <button mat-icon-button aria-label="Advance task status" class="form-control" id="adv-status"
        (click)="advanceStatus()">
        <fa-icon [icon]="faDoubleRight" matTooltip="Advance task to next status"></fa-icon>
      </button>
    </div>
  </div>
  <div class="time-list" *ngIf="expanded">
    <app-task-timer-list [timeWorkedList]="task.timeWorked"></app-task-timer-list>
  </div>
</div>
