/* You can add global styles to this file, and also import other style files */

@import "~material-icons/iconfont/material-icons.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "digital-clock-font";
  src: url("assets/fonts/digital7/digital-7.ttf") format("truetype");
}

[hidden] {
  display: none !important;
}

.mat-icon {
  vertical-align: middle;
}
